In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Mall_customers.csv')

In [3]:
print(data.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
print(data.tail())

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

# checking data type

In [5]:
print(type(data))
print(data.info())

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
CustomerID                200 non-null int64
Gender                    200 non-null object
Age                       200 non-null int64
Annual Income (k$)        200 non-null int64
Spending Score (1-100)    200 non-null int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

In [6]:
print(data.describe(include="all"))

        CustomerID  Gender         Age  Annual Income (k$)  \
count   200.000000     200  200.000000          200.000000
unique         NaN       2         NaN                 NaN
top            NaN  Female         NaN                 NaN
freq           NaN     112         NaN                 NaN
mean    100.500000     NaN   38.850000           60.560000
std      57.879185     NaN   13.969007           26.264721
min       1.000000     NaN   18.000000           15.000000
25%      50.750000     NaN   28.750000           41.500000
50%     100.500000     NaN   36.000000           61.500000
75%     150.250000     NaN   49.000000           78.000000
max     200.000000     NaN   70.000000          137.000000

        Spending Score (1-100)
count               200.000000
unique                     NaN
top                        NaN
freq                       NaN
mean                 50.200000
std                  25.823522
min                   1.000000
25%                  34.750000
50%                  50.000000
75%                  73.000000
max                  99.000000

# reading featues

In [8]:
print(data['Annual Income (k$)'])

0       15
1       15
2       16
3       16
4       17
      ...
195    120
196    126
197    126
198    137
199    137
Name: Annual Income (k$), Length: 200, dtype: int64

In [9]:
print(data['Spending Score (1-100)'])

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score (1-100), Length: 200, dtype: int64

In [10]:
sl_column = data['CustomerID']
print(data[sl_column > 50 ])

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
50           51  Female   49                  42                      52
51           52    Male   33                  42                      60
52           53  Female   31                  43                      54
53           54    Male   59                  43                      60
54           55  Female   50                  43                      45
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[150 rows x 5 columns]

# label encoding

In [13]:
Gender_col = data['Gender']
print(Gender_col)

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [14]:
print(set(Gender_col))

{'Female', 'Male'}

In [15]:
encoding_map = { 'Gender' : {'Male' : 0, 'Female': 1}}
data.replace(encoding_map, inplace=True)

In [17]:
Gender_col = data['Gender']

In [18]:
print(Gender_col.value_counts())

1    112
0     88
Name: Gender, dtype: int64

In [19]:
print(data[Gender_col == 1])

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
2             3       1   20                  16                       6
3             4       1   23                  16                      77
4             5       1   31                  17                      40
5             6       1   22                  17                      76
6             7       1   35                  18                       6
..          ...     ...  ...                 ...                     ...
191         192       1   32                 103                      69
193         194       1   38                 113                      91
194         195       1   47                 120                      16
195         196       1   35                 120                      79
196         197       1   45                 126                      28

[112 rows x 5 columns]

# preparing dataset for model

In [20]:

features = ['Age', 'Annual Income (k$)', 'Spending Score (1-100)']
labels = ['Gender']

x = data[features]
y = data[labels]

In [21]:
print(x)

     Age  Annual Income (k$)  Spending Score (1-100)
0     19                  15                      39
1     21                  15                      81
2     20                  16                       6
3     23                  16                      77
4     31                  17                      40
..   ...                 ...                     ...
195   35                 120                      79
196   45                 126                      28
197   32                 126                      74
198   32                 137                      18
199   30                 137                      83

[200 rows x 3 columns]

In [22]:
print(y)

     Gender
0         0
1         0
2         1
3         1
4         1
..      ...
195       1
196       1
197       0
198       0
199       0

[200 rows x 1 columns]

In [23]:
x = x.values
y = y.values

In [24]:
print(type(x))
print('-'*30)
print(x)

<class 'numpy.ndarray'>
------------------------------
[[ 19  15  39]
 [ 21  15  81]
 [ 20  16   6]
 [ 23  16  77]
 [ 31  17  40]
 [ 22  17  76]
 [ 35  18   6]
 [ 23  18  94]
 [ 64  19   3]
 [ 30  19  72]
 [ 67  19  14]
 [ 35  19  99]
 [ 58  20  15]
 [ 24  20  77]
 [ 37  20  13]
 [ 22  20  79]
 [ 35  21  35]
 [ 20  21  66]
 [ 52  23  29]
 [ 35  23  98]
 [ 35  24  35]
 [ 25  24  73]
 [ 46  25   5]
 [ 31  25  73]
 [ 54  28  14]
 [ 29  28  82]
 [ 45  28  32]
 [ 35  28  61]
 [ 40  29  31]
 [ 23  29  87]
 [ 60  30   4]
 [ 21  30  73]
 [ 53  33   4]
 [ 18  33  92]
 [ 49  33  14]
 [ 21  33  81]
 [ 42  34  17]
 [ 30  34  73]
 [ 36  37  26]
 [ 20  37  75]
 [ 65  38  35]
 [ 24  38  92]
 [ 48  39  36]
 [ 31  39  61]
 [ 49  39  28]
 [ 24  39  65]
 [ 50  40  55]
 [ 27  40  47]
 [ 29  40  42]
 [ 31  40  42]
 [ 49  42  52]
 [ 33  42  60]
 [ 31  43  54]
 [ 59  43  60]
 [ 50  43  45]
 [ 47  43  41]
 [ 51  44  50]
 [ 69  44  46]
 [ 27  46  51]
 [ 53  46  46]
 [ 70  46  56]
 [ 19  46  55]
 [ 67  47  52]
 [ 54  47  59]
 [ 63  48  51]
 [ 18  48  59]
 [ 43  48  50]
 [ 68  48  48]
 [ 19  48  59]
 [ 32  48  47]
 [ 70  49  55]
 [ 47  49  42]
 [ 60  50  49]
 [ 60  50  56]
 [ 59  54  47]
 [ 26  54  54]
 [ 45  54  53]
 [ 40  54  48]
 [ 23  54  52]
 [ 49  54  42]
 [ 57  54  51]
 [ 38  54  55]
 [ 67  54  41]
 [ 46  54  44]
 [ 21  54  57]
 [ 48  54  46]
 [ 55  57  58]
 [ 22  57  55]
 [ 34  58  60]
 [ 50  58  46]
 [ 68  59  55]
 [ 18  59  41]
 [ 48  60  49]
 [ 40  60  40]
 [ 32  60  42]
 [ 24  60  52]
 [ 47  60  47]
 [ 27  60  50]
 [ 48  61  42]
 [ 20  61  49]
 [ 23  62  41]
 [ 49  62  48]
 [ 67  62  59]
 [ 26  62  55]
 [ 49  62  56]
 [ 21  62  42]
 [ 66  63  50]
 [ 54  63  46]
 [ 68  63  43]
 [ 66  63  48]
 [ 65  63  52]
 [ 19  63  54]
 [ 38  64  42]
 [ 19  64  46]
 [ 18  65  48]
 [ 19  65  50]
 [ 63  65  43]
 [ 49  65  59]
 [ 51  67  43]
 [ 50  67  57]
 [ 27  67  56]
 [ 38  67  40]
 [ 40  69  58]
 [ 39  69  91]
 [ 23  70  29]
 [ 31  70  77]
 [ 43  71  35]
 [ 40  71  95]
 [ 59  71  11]
 [ 38  71  75]
 [ 47  71   9]
 [ 39  71  75]
 [ 25  72  34]
 [ 31  72  71]
 [ 20  73   5]
 [ 29  73  88]
 [ 44  73   7]
 [ 32  73  73]
 [ 19  74  10]
 [ 35  74  72]
 [ 57  75   5]
 [ 32  75  93]
 [ 28  76  40]
 [ 32  76  87]
 [ 25  77  12]
 [ 28  77  97]
 [ 48  77  36]
 [ 32  77  74]
 [ 34  78  22]
 [ 34  78  90]
 [ 43  78  17]
 [ 39  78  88]
 [ 44  78  20]
 [ 38  78  76]
 [ 47  78  16]
 [ 27  78  89]
 [ 37  78   1]
 [ 30  78  78]
 [ 34  78   1]
 [ 30  78  73]
 [ 56  79  35]
 [ 29  79  83]
 [ 19  81   5]
 [ 31  81  93]
 [ 50  85  26]
 [ 36  85  75]
 [ 42  86  20]
 [ 33  86  95]
 [ 36  87  27]
 [ 32  87  63]
 [ 40  87  13]
 [ 28  87  75]
 [ 36  87  10]
 [ 36  87  92]
 [ 52  88  13]
 [ 30  88  86]
 [ 58  88  15]
 [ 27  88  69]
 [ 59  93  14]
 [ 35  93  90]
 [ 37  97  32]
 [ 32  97  86]
 [ 46  98  15]
 [ 29  98  88]
 [ 41  99  39]
 [ 30  99  97]
 [ 54 101  24]
 [ 28 101  68]
 [ 41 103  17]
 [ 36 103  85]
 [ 34 103  23]
 [ 32 103  69]
 [ 33 113   8]
 [ 38 113  91]
 [ 47 120  16]
 [ 35 120  79]
 [ 45 126  28]
 [ 32 126  74]
 [ 32 137  18]
 [ 30 137  83]]

# Example #multiply all values of matix

In [25]:


x * 2

array([[ 38,  30,  78],
       [ 42,  30, 162],
       [ 40,  32,  12],
       [ 46,  32, 154],
       [ 62,  34,  80],
       [ 44,  34, 152],
       [ 70,  36,  12],
       [ 46,  36, 188],
       [128,  38,   6],
       [ 60,  38, 144],
       [134,  38,  28],
       [ 70,  38, 198],
       [116,  40,  30],
       [ 48,  40, 154],
       [ 74,  40,  26],
       [ 44,  40, 158],
       [ 70,  42,  70],
       [ 40,  42, 132],
       [104,  46,  58],
       [ 70,  46, 196],
       [ 70,  48,  70],
       [ 50,  48, 146],
       [ 92,  50,  10],
       [ 62,  50, 146],
       [108,  56,  28],
       [ 58,  56, 164],
       [ 90,  56,  64],
       [ 70,  56, 122],
       [ 80,  58,  62],
       [ 46,  58, 174],
       [120,  60,   8],
       [ 42,  60, 146],
       [106,  66,   8],
       [ 36,  66, 184],
       [ 98,  66,  28],
       [ 42,  66, 162],
       [ 84,  68,  34],
       [ 60,  68, 146],
       [ 72,  74,  52],
       [ 40,  74, 150],
       [130,  76,  70],
       [ 48,  76, 184],
       [ 96,  78,  72],
       [ 62,  78, 122],
       [ 98,  78,  56],
       [ 48,  78, 130],
       [100,  80, 110],
       [ 54,  80,  94],
       [ 58,  80,  84],
       [ 62,  80,  84],
       [ 98,  84, 104],
       [ 66,  84, 120],
       [ 62,  86, 108],
       [118,  86, 120],
       [100,  86,  90],
       [ 94,  86,  82],
       [102,  88, 100],
       [138,  88,  92],
       [ 54,  92, 102],
       [106,  92,  92],
       [140,  92, 112],
       [ 38,  92, 110],
       [134,  94, 104],
       [108,  94, 118],
       [126,  96, 102],
       [ 36,  96, 118],
       [ 86,  96, 100],
       [136,  96,  96],
       [ 38,  96, 118],
       [ 64,  96,  94],
       [140,  98, 110],
       [ 94,  98,  84],
       [120, 100,  98],
       [120, 100, 112],
       [118, 108,  94],
       [ 52, 108, 108],
       [ 90, 108, 106],
       [ 80, 108,  96],
       [ 46, 108, 104],
       [ 98, 108,  84],
       [114, 108, 102],
       [ 76, 108, 110],
       [134, 108,  82],
       [ 92, 108,  88],
       [ 42, 108, 114],
       [ 96, 108,  92],
       [110, 114, 116],
       [ 44, 114, 110],
       [ 68, 116, 120],
       [100, 116,  92],
       [136, 118, 110],
       [ 36, 118,  82],
       [ 96, 120,  98],
       [ 80, 120,  80],
       [ 64, 120,  84],
       [ 48, 120, 104],
       [ 94, 120,  94],
       [ 54, 120, 100],
       [ 96, 122,  84],
       [ 40, 122,  98],
       [ 46, 124,  82],
       [ 98, 124,  96],
       [134, 124, 118],
       [ 52, 124, 110],
       [ 98, 124, 112],
       [ 42, 124,  84],
       [132, 126, 100],
       [108, 126,  92],
       [136, 126,  86],
       [132, 126,  96],
       [130, 126, 104],
       [ 38, 126, 108],
       [ 76, 128,  84],
       [ 38, 128,  92],
       [ 36, 130,  96],
       [ 38, 130, 100],
       [126, 130,  86],
       [ 98, 130, 118],
       [102, 134,  86],
       [100, 134, 114],
       [ 54, 134, 112],
       [ 76, 134,  80],
       [ 80, 138, 116],
       [ 78, 138, 182],
       [ 46, 140,  58],
       [ 62, 140, 154],
       [ 86, 142,  70],
       [ 80, 142, 190],
       [118, 142,  22],
       [ 76, 142, 150],
       [ 94, 142,  18],
       [ 78, 142, 150],
       [ 50, 144,  68],
       [ 62, 144, 142],
       [ 40, 146,  10],
       [ 58, 146, 176],
       [ 88, 146,  14],
       [ 64, 146, 146],
       [ 38, 148,  20],
       [ 70, 148, 144],
       [114, 150,  10],
       [ 64, 150, 186],
       [ 56, 152,  80],
       [ 64, 152, 174],
       [ 50, 154,  24],
       [ 56, 154, 194],
       [ 96, 154,  72],
       [ 64, 154, 148],
       [ 68, 156,  44],
       [ 68, 156, 180],
       [ 86, 156,  34],
       [ 78, 156, 176],
       [ 88, 156,  40],
       [ 76, 156, 152],
       [ 94, 156,  32],
       [ 54, 156, 178],
       [ 74, 156,   2],
       [ 60, 156, 156],
       [ 68, 156,   2],
       [ 60, 156, 146],
       [112, 158,  70],
       [ 58, 158, 166],
       [ 38, 162,  10],
       [ 62, 162, 186],
       [100, 170,  52],
       [ 72, 170, 150],
       [ 84, 172,  40],
       [ 66, 172, 190],
       [ 72, 174,  54],
       [ 64, 174, 126],
       [ 80, 174,  26],
       [ 56, 174, 150],
       [ 72, 174,  20],
       [ 72, 174, 184],
       [104, 176,  26],
       [ 60, 176, 172],
       [116, 176,  30],
       [ 54, 176, 138],
       [118, 186,  28],
       [ 70, 186, 180],
       [ 74, 194,  64],
       [ 64, 194, 172],
       [ 92, 196,  30],
       [ 58, 196, 176],
       [ 82, 198,  78],
       [ 60, 198, 194],
       [108, 202,  48],
       [ 56, 202, 136],
       [ 82, 206,  34],
       [ 72, 206, 170],
       [ 68, 206,  46],
       [ 64, 206, 138],
       [ 66, 226,  16],
       [ 76, 226, 182],
       [ 94, 240,  32],
       [ 70, 240, 158],
       [ 90, 252,  56],
       [ 64, 252, 148],
       [ 64, 274,  36],
       [ 60, 274, 166]])